*{
    margin : 0px;
    padding: px;
    font-family: Avenir, sans-serif;
}

nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    text-align: center;
    width: 25%;
}

nav ul::after{
    content: "";
    display:table;
    clear: both;
}

nav{
    background-color: orangered;
    width: 100%;
    margin: 0 auto;
}

nav a:hover{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid gold;
    position: sticky ;
}

nav a,
nav input {
    display: block;
    text-decoration: none; 
    color: white; 
    padding: 10px 0px;
    background-color: orangered;
    border: none;
}